/**
 * Initialises the base grid
 */
/**
 * Customises an element to look like a row
 */
/**
 * Customises an element to look like a gridded column
 * @param  {integer} $column-width - the amount of pixels the element should take up
 * @param  {integer} $include-defaults - determine whether to output floats and padding
 */
/**
 * Styles an element as a container
 */
/**
 * Offsets the padding applied to the container
 */
.b-container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 11px;
  position: relative;
  width: 100%;
}

.b-row {
  overflow: hidden;
  *zoom: 1;
  margin-top: 0;
  margin-right: -11px;
  margin-bottom: 0.75em;
  margin-left: -11px;
}
.flexbox .b-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.b-column {
  min-height: 1px;
  position: relative;
  float: left;
  padding-left: 11px;
  padding-right: 11px;
}

.b-column--1 {
  min-height: 1px;
  position: relative;
  float: left;
  padding-left: 11px;
  padding-right: 11px;
  width: 8.33333%;
}
.flexbox .b-column--1 {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-flex-basis: 8.33333%;
  flex-basis: 8.33333%;
  max-width: 8.33333%;
}

.b-column--2 {
  min-height: 1px;
  position: relative;
  float: left;
  padding-left: 11px;
  padding-right: 11px;
  width: 16.66667%;
}
.flexbox .b-column--2 {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-flex-basis: 16.66667%;
  flex-basis: 16.66667%;
  max-width: 16.66667%;
}

.b-column--3 {
  min-height: 1px;
  position: relative;
  float: left;
  padding-left: 11px;
  padding-right: 11px;
  width: 25%;
}
.flexbox .b-column--3 {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.b-column--4 {
  min-height: 1px;
  position: relative;
  float: left;
  padding-left: 11px;
  padding-right: 11px;
  width: 33.33333%;
}
.flexbox .b-column--4 {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-flex-basis: 33.33333%;
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}

.b-column--5 {
  min-height: 1px;
  position: relative;
  float: left;
  padding-left: 11px;
  padding-right: 11px;
  width: 41.66667%;
}
.flexbox .b-column--5 {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-flex-basis: 41.66667%;
  flex-basis: 41.66667%;
  max-width: 41.66667%;
}

.b-column--6 {
  min-height: 1px;
  position: relative;
  float: left;
  padding-left: 11px;
  padding-right: 11px;
  width: 50%;
}
.flexbox .b-column--6 {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.b-column--7 {
  min-height: 1px;
  position: relative;
  float: left;
  padding-left: 11px;
  padding-right: 11px;
  width: 58.33333%;
}
.flexbox .b-column--7 {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-flex-basis: 58.33333%;
  flex-basis: 58.33333%;
  max-width: 58.33333%;
}

.b-column--8 {
  min-height: 1px;
  position: relative;
  float: left;
  padding-left: 11px;
  padding-right: 11px;
  width: 66.66667%;
}
.flexbox .b-column--8 {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-flex-basis: 66.66667%;
  flex-basis: 66.66667%;
  max-width: 66.66667%;
}

.b-column--9 {
  min-height: 1px;
  position: relative;
  float: left;
  padding-left: 11px;
  padding-right: 11px;
  width: 75%;
}
.flexbox .b-column--9 {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.b-column--10 {
  min-height: 1px;
  position: relative;
  float: left;
  padding-left: 11px;
  padding-right: 11px;
  width: 83.33333%;
}
.flexbox .b-column--10 {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-flex-basis: 83.33333%;
  flex-basis: 83.33333%;
  max-width: 83.33333%;
}

.b-column--11 {
  min-height: 1px;
  position: relative;
  float: left;
  padding-left: 11px;
  padding-right: 11px;
  width: 91.66667%;
}
.flexbox .b-column--11 {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-flex-basis: 91.66667%;
  flex-basis: 91.66667%;
  max-width: 91.66667%;
}

.b-column--12 {
  min-height: 1px;
  position: relative;
  float: left;
  padding-left: 11px;
  padding-right: 11px;
  width: 100%;
}
.flexbox .b-column--12 {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

body {
  background-color: #f8da4d;
  color: #333333;
}
